.ml-1 {
    margin-left: 1rem;
}

.link-black {
    color: #000;
}

.input-kpi {
    width: 70px;
}

.form-filter-rekap {
    margin-bottom: 20px;
}

.max-100 {
    max-width: 300px !important;
}

.signer {
    height: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

img.img-qrcode {
    width: 150px;
}